/**************************************************
- Custom CSS
/**************************************************/

ul li{
    list-style: none;
    vertical-align: bottom;
    float: right;
}
ul li{
  display: inline-block;
  margin:0 2%;
}

ul li a{
    text-decoration: none;
    padding: 0 2%;

}
img, svg {
    vertical-align: middle;
    margin: 20px;
}

h1{
  font-weight: 900;
  letter-spacing: 10px;
}

.smallText{
  letter-spacing:12px;
  margin-top: -10px

}

.btn-primary{
  background-color:#006DFF;
  border: none;
}

.nav-tabs {
  border:none;
  background-color:#006DFF;
  font-weight:900;
  color:#fff;
  border-radius: 8px 8px 0 0;
  border: 1px solid #006DFF;
}


.nav-tabs .nav-link{
 color:#fff;
}

.nav-tabs .nav-link.active {
  background-color:#fff;
  border-radius: 8px 8px 0 0;
}

#Register{
  border-left:1px solid #006DFF;
  border-right:1px solid #006DFF;
  border-bottom:1px solid #006DFF;
  padding: 5%;
  border-radius: 0 0 8px 8px;
}

#Login{
  border-left:1px solid #006DFF;
  border-right:1px solid #006DFF;
  border-bottom:1px solid #006DFF;
  padding: 5%;
  border-radius: 0 0 8px 8px;
}


.largeImage{
  width:100%;
  height:auto;
}
/**************************************************
- responsive CSS
/**************************************************/

@media only screen and (max-width: 630px) {
  .centerLayout{
    margin:10%;
}
