/**************************************************
- Custom CSS
/**************************************************/

nav.col-md-2.d-none.d-md-block.bg-light.sidebar {
    height: 95vh;
    overflow: hidden;
}

main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4 {
    height: 90vh;
    overflow: scroll;
}

a.nav-link {
    margin: 20px 0;
    font-size: 15pt;
    font-weight: 500;
    border-bottom: 1px solid #eee;}

#input-inline{
  width:100%;
  margin: 1% 0;
  padding:1%;
  border: none;
  background-color:#f8f9fa;

}

.table>thead {
    vertical-align: bottom;
    background: #000;
    color: #fff;
    /* border-radius: 8px; */
    font-weight: 900;}


    .navbar-nav {
        display: flex;
        flex-direction:unset !important;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
  .navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;}

    .navbar-brand {
        margin-right: 0 !important;
        font-size: 20pt;
        font-weight: 900;
      color:#fff;}

      .navbar-brand:hover {
        color:#006DFF;}


.card.card.text-white.bg-success.mb-3:hover {
            background-color: #84C410!important;
        }


.modalInfo{
  list-style: none;
  font-size: 15pt;

}

.NoDataMessage{
  text-align: center;
  font-size: 20pt;
  font-weight: 900;
  margin:5%;
}



/**h1{
  font-weight: 900;
  font-size: 1.2rem;
}**\\|\\|
ul li{
    list-style: none;
    vertical-align: bottom;
    float: right;
}
ul li{
  display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 0 2%;

}   //a.nav-link {
    font-weight: 900;}  img, svg {
        vertical-align: middle;
        margin: 20px;
    }




    .nav-tabs .nav-link{
     color:#fff;
    }

    .nav-tabs .nav-link.active {
      background-color:#fff;
      border-radius: 8px 8px 0 0;
    }

    .nav-tabs {
      border:none;
      background-color:#006DFF;
      font-weight:900;
      color:#fff;
      border-radius: 8px 8px 0 0;
      border: 1px solid #006DFF;
    }

    **/

.smallText{
  letter-spacing:12px;
  margin-top: -10px

}

.btn-primary{
  background-color:#006DFF;
  border: none;
}

.timeline{

}

.align{
  text-align: right;
}



h4{
  font-size: 18px;
font-weight: 500;
}
button.btn.dropdown-toggle.btn-light {
    margin: 2% 0;
}

#bookings{
    padding: 0 2%;
}

#request {
    padding: 0 2%;
}

.largeImage{
  width:100%;
  height:auto;
}


.customHeight{
  height:70vh;
  overflow:scroll;
}

#customTab{
  padding: 0px !important;
  margin:0px !important;
  display: block !important;
  text-align: center;
}

.nav-tabs .nav-link {
    margin-bottom:  unset !important;
    border: 1px solid #006DFF !important;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.nav-tabs .nav-link:active {
    margin-bottom:  unset !important;
    border: unset !important;
    background-color: #006DFF;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color:#fff;
}

.homeTab{
  margin:  unset !important;
  border: unset !important;
  background-color: #006DFF !important;
  font-size:20pt;
  border-radius: 0.3rem;
  padding: 3px 6px !important;
  color:#fff;
}


.nav-tabs {
    border-bottom: none !important;
}

.inline{
  display: inline;
}

.adminTab {
    margin-bottom:  unset !important;
    border: 1px solid #006DFF !important;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    width: 20% !important;
    display: inline-block !important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #006DFF !important;
    border: 1px solid #006DFF;
}


.brand{
  display: inline-block;
  letter-spacing: 5px;
}



/**************************************************
- responsive CSS
/**************************************************/

@media only screen and (max-width: 630px) {
  .centerLayout{
    margin:10%;
}
